.App {
  margin: 20px;
}

header {
  margin-top: 10px;
  margin-left: 10px;
}

h6 {
  font-family: "Poppins", sans-serif;
  font-size: smaller;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: larger;
}

div.row {
  text-align: center;
}

div.first-row {
  margin-top: 75px;
  margin-bottom: 75px;
}

div.box-1 {
  text-align: right;
  padding-right: 100px;
}

div.box-2 {
  text-align: left;
  padding-left: 100px;
}

.footer {
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
  text-align: center;
}

input.btn {
  background-color: #f7ecde;
  color: black;
  margin-right: 20px;
}

input.btn:hover {
  background-color: #e2c2b9;
  color: #000;
}

.current-location-button {
  background-color: #f7ecde;
}

button.current-location-button:hover {
  background-color: #e2c2b9;
}

.currentSearch {
  margin-top: 120px;
}

.currentDate {
  font-family: "Poppins", sans-serif;
  font-size: smaller;
  text-align: center;
}

.currentCity {
  font-family: "Noto Serif Display", serif;
  font-size: 50px;
}

.description {
  text-transform: capitalize;
}

.wind {
  color: #808080;
}

.humidity {
  color: #808080;
}

.weatherPic {
  width: 100px;
}

.lower-temp {
  opacity: 0.6;
}

.currentTemp {
  margin-left: 35px;
}

.units {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: medium;
  position: relative;
  bottom: 40px;
  left: 75px;
}

.mb-3 {
  font-family: "Poppins", sans-serif;
}

div.input-group {
  margin: 0 auto;
  width: 45%;
}

.future {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 30px;
  font-size: larger;
}

.card {
  border-style: none;
}

.card-body {
  background-color: #ead3cb;
  border-radius: 30px;
}

.card-body:hover {
  background-color: #e2c2b9;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.card-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding-top: 20px;
}
